/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Import Font - Mobitale Versalate */
/* @font-face {
  font-family: 'Mobitale Versalete';
  src: url(assets/fonts/Mobiv__.otf)
} */

/* VARIABLES */
:root {
    --main-color: #4E62FF;
    --color-white: #fff;
    --color-paragraph: #DADADA;
    --container-color: #171B3C;
    --box-color: #0D0F26;
    --box-hover-color: #14162E;
    --body-color: #090A1A;
    --black-color: #000;
}

/* CSS IMPORTANT */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--body-color);
    color: var(--color-white);
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    padding-bottom: 3.75rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--box-hover-color);
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.logo-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.1875rem;
    font-weight: 700;
    background: linear-gradient(352deg, #0DB2FE 0%, #2C8AFF 48.44%, #4E62FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    background: var(--main-color);
    color: var(--color-white);
    padding: .9375rem 2.1875rem;
    border-radius: 25px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.50);
    font-size: 1.125rem;
    font-weight: 500;
    transition: all 300ms ease;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.join-button {
    /* background: none; */
    /* border: none; */
    text-align: left;
}

.btn:hover {
    background: var(--color-white);
    color: var(--black-color);
}

.heading {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-top: .625rem;
}

.section-bg {
    background: var(--box-color);
    padding: 5rem 0;
}

.padding-top {
    padding-top: calc(104px + 60px);
}

/* HEADER */
header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}

.bg {
    transition: all 1000ms ease;
}

.bg.active {
    position: fixed;
    top: 0;
    z-index: -1;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    box-shadow: 10px;
    -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.68);
    width: 100%;
    height: 84px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5625rem 0;
    position: relative;
}

nav.small {
    padding: 15px 0;
}

.logo {
    width: 50px;
    height: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu-icon {
    display: none !important;
    font-size: 1.875rem;
    color: var(--color-white);
    cursor: pointer;
    transition: 300ms linear;
    margin-left: 15px;
}

.menu-icon:hover {
    color: var(--color-primary);
}

.nav-button a {
    padding: .625rem 1.25rem;
    color: var(--color-white);
    font-size: 1rem;
    border: 2px solid var(--color-white);
    border-radius: 50px;
    transition: all 300ms ease;
}

.nav-button a:hover {
    background: var(--main-color);
    border-color: var(--main-color);
}

.nav-link {
    color: var(--color-white);
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 4px 8px;
    border-radius: 0.2rem;
    transition: background 300ms ease;
}

.nav-link:hover {
    background: #ffffff1a;
}

.blured {
    filter: blur(4px);
    transition: all 300ms ease;
}

.sub-profile-wrapper {
    display: none;
    opacity: 0;
    border-top: 3px solid #6374F7;
    background: var(--box-color);
    box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 285px;
    width: 100%;
    position: absolute;
    top: 100px;
    right: 0;
}

.active {
    opacity: 1;
    display: block;
    /* z-index: -1; */
}

.sub-profile-wrapper .profile-wrapper {
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 25px 15px;
}

.sub-profile-wrapper .profile-wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.sub-profile-wrapper .content {
    padding: .9375rem 1.5625rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-profile-wrapper .content .name {
    font-size: .875rem;
    font-weight: 600;
    text-transform: uppercase;
}

.sub-profile-wrapper .content .content-link {
    font-size: .875rem;
    color: var(--color-paragraph);
    cursor: pointer;
    transition: transform 300ms;
}

.sub-profile-wrapper .content .content-link:hover {
    transform: translateX(5px);
    color: var(--color-white);
}

.sub-profile-wrapper hr {
    border-color: #212237;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.profile img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.profile .details {
    display: flex;
    flex-direction: column;
}

.profile .details .name,
.profile-wrapper .details .name {
    font-size: 1rem;
    font-weight: 600;
}

.profile .details .rank,
.profile-wrapper .details .rank {
    font-family: 'Mobitale Versalete';
    font-size: 13px;
    font-weight: 500;
    color: #07FFCE;
}

.profile .bx {
    font-size: 22px;
    color: #949494;
}

/* HOME */
.home {
    padding-top: calc(104px + 60px);
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.home-content {
    max-width: 645px;
    width: 100%;
}

.home-content p {
    color: var(--color-white);
    font-size: 1rem;
    margin: .625rem 0 2.5rem;
    text-align: justify;
}

/* INVITE */
.invite-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invite-left {
    max-width: 485px;
    width: 100%;
}

.invite-left .title {
    margin-bottom: 45px;
}

.statics {
    display: grid;
    grid-template-columns: repeat(4, 110px);
    gap: 15px;
}

.static {
    background: var(--box-hover-color);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 6.875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.static .number {
    color: var(--main-color);
    font-size: 1.125rem;
    font-weight: 600;
}

.static .name {
    color: var(--color-white);
    font-size: .875rem;
    font-weight: 500;
}

.invite-right {
    max-width: 600px;
    width: 100%;
}

.invite-right p {
    font-size: .9375rem;
    letter-spacing: 1px;
    text-align: justify;
}

/* SYSTEM */
.system-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.system-heading .system-title {
    max-width: 485px;
    width: 100%;
}

.system-heading .system-action {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 300ms ease;
}

.system-heading .system-link {
    color: var(--color-white);
    text-decoration: underline;
    font-size: .9375rem;
    transition: color 300ms linear;
}

.system-heading .system-link:hover {
    color: var(--main-color);
}

.system-heading .system-action:hover .bx {
    transform: translateX(5px);
    color: var(--main-color);
}

.system-heading .system-link .bx {
    font-size: .9375rem;
    color: var(--color-white);
}

.system-heading .title {
    font-size: 1.5625rem;
    margin-bottom: .625rem;
}

.system-heading p {
    font-size: 14px;
    color: var(--color-paragraph);
    text-align: justify;
}

.system-container {
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 50px) / 4));
    gap: 25px;
}

.system-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2.1875rem;
}

.more {
    display: none;
}

.more.active {
    display: flex;
}

.system-box .icon {
    padding: 1.25rem;
    color: #fff;
    font-size: 1.5625rem;
    background: var(--box-color);
    border-radius: 15px;
    width: 65px;
    height: 65px;
}

.system-box .icon-img {
    padding: 1.25rem;
    background: var(--box-color);
    border-radius: 15px;
}

.system-box .name {
    font-size: 1rem;
    font-weight: 700;
    margin: .625rem 0 .9375rem;
}

.system-box p {
    color: var(--color-paragraph);
    font-size: .8125rem;
    text-align: center;
}

/* SECURITY */
.security-container {
    display: flex;
    align-items: center;
    gap: 80px;
}

.security-content {
    max-width: 575px;
    width: 100%;
}

.security-content .title {
    font-size: 1.5625rem;
    margin-bottom: 1.5625rem;
}

.security-content p {
    font-size: 1rem;
    color: var(--color-paragraph);
    text-align: justify;
}

/* FAQ */
.faq .title {
    font-size: 1.5625rem;
    margin-bottom: 1.5625rem;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 1.5625rem;
}

details {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--color-white);
    background: var(--box-color);
    border-radius: 12px;
    max-width: 870px;
    width: 100%;
    position: relative;
}

details.active {
    background: var(--box-hover-color);
}

summary {
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 1.25rem 1.875rem;
}

summary:hover .faq-title {
    transform: translateX(5px);
}

.faq-title {
    transition: 300ms ease;
}

.expand-icon {
    font-size: 1.5625rem;
    color: var(--main-color);
    transition: transform 300ms;
}

.expand-icon.icon {
    transform: rotate(90deg);
}

.faq-content {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    color: var(--color-paragraph);
    padding: 0 1.875rem 1.25rem;
    max-height: 450px;
    overflow: hidden;
}

.faq-content a {
    color: var(--main-color);
}

.faq-content a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    padding: 0 0 1.5625rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 40px;
}

.socials .bx {
    background: var(--box-color);
    cursor: pointer;
    padding: .625rem;
    border-radius: 50%;
    transition: background 300ms linear;
    height: 40px;
    display: flex;
    align-items: center;
}

.socials .bxIcon {
    font-size: 1.25rem;
    color: var(--color-white);
}

.socials img {
    background: var(--box-color);
    cursor: pointer;
    padding: .625rem;
    border-radius: 50%;
    transition: background 300ms linear;
}

.socials .bx:hover,
.socials img:hover {
    background: var(--box-hover-color);
}

.copyright {
    font-size: 1rem;
    color: var(--color-white);
}

/* PAGE STAFF */
.staff-header {
    padding-top: calc(104px + 60px);
    padding-bottom: .3125rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.staff-header .content .title {
    font-size: 1.5625rem;
    text-transform: uppercase;
}

.staff-header .staffImg {
    width: 25rem;
    height: 25rem;
}

.staff-header .icon {
    padding: 10px;
    border-radius: 5px;
}

.staff-header .icon.admin,
.admin-box .tags .icon.admin {
    background: #CD1E1E;
}

.staff-header .icon.dev,
.admin-box .tags .icon.dev {
    background: #0F338F;
}

.staff-header .icon.conselho,
.admin-box .tags .icon.conselho {
    background: #000001;
}

.staff-header .icon.plan,
.admin-box .tags .icon.plan {
    background: #9203EA;
}

.staff-header .icon.ilus,
.staff-content .icon.ilus {
    background: #36930B;
    font-size: 1.25rem;
}

.staff-header .icon.staff,
.admin-box .tags .icon.staff,
.staff-content .icon.staff {
    background: #E47711;
}

.staff-header .summary {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 25px;
    margin-top: 1.5625rem;
}

.staff-header .content .box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.box div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.box div .circle {
    display: block;
    background: var(--color-white);
    width: 5px;
    height: 5px;
}

.box div .name {
    font-size: .9375rem;
    font-weight: 600;
    text-transform: uppercase;
}

.admin-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.4375rem 0;
    border-bottom: 1px solid #212237;
}

.admin-box {
    display: flex;
    align-items: center;
    gap: 25px;
    max-width: 550px;
    width: 100%;
}

.admin-box .adminImg {
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
    border-radius: 50%;
    filter: drop-shadow(-20px 20px 4px rgba(73, 93, 250, 0.10));
}

.admin-box .details .name {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-white);
}

.admin-box .details .tags {
    display: flex;
    align-items: center;
    gap: .625rem;
    margin: .625rem 0;
}

.admin-box .tags .icon,
.staff-content .icon {
    padding: .5rem;
    border-radius: 5px;
    width: fit-content;
}

.admin-box p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--color-white);
}

.admin-box .socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-box .socials .bx {
    font-size: 1.25rem;
}

.staff-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 45px;
    padding: 3.4375rem 0;
    border-bottom: 1px solid #212237;
}

.staff-box {
    display: flex;
    align-items: center;
    gap: 25px;
}

.staff-box .staffImg {
    width: 6.25rem;
    height: 6.25rem;
    filter: drop-shadow(-10px 10px 4px rgba(73, 93, 250, 0.10));
    border-radius: 50%;
}

.staff-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.staff-content div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.staff-content .name {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-white);
}

.staff-content a .bx {
    font-size: 1.125rem;
    color: var(--color-white);
    transition: color 300ms linear;
}

.staff-content a .bx:hover {
    color: var(--main-color);
}

.admin-container.dev {
    border-bottom: 0;
}

.admin-container.dev .details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-box .details .rank {
    font-size: .9375rem;
    font-weight: 600;
    text-transform: uppercase;

    padding: .3125rem .9375rem;
    border-radius: 5px;
    width: fit-content;

}

.admin-box .details .rank.front {
    background: linear-gradient(178deg, #2CA5FD 0%, #5BB4F5 100%);
}

.admin-box .details .rank.back {
    background: linear-gradient(170deg, #8707C2 0%, #B02EEE 100%);
}

/* PAGE COMMANDS */
.commands {
    padding-top: calc(104px + 60px);
}

.commands .heading {
    text-align: center;
    font-size: 1rem;
}

.commands .title {
    font-size: 1.5625rem;
    max-width: 455px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5625rem;
}

.commands-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.command-link {
    width: 170px;
    padding: .9375rem 0;
    font-size: .875rem;
    font-weight: 500;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    background: transparent;
    border-radius: 50px;
    outline: 0;
    cursor: pointer;
    transition: background 300ms ease;
}

.command-link:hover,
.command-link.active {
    background: var(--main-color);
    border: 0;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.command-search {
    position: relative;
}

.command-search input {
    width: 300px;
    border: 1px solid #212237;
    background: transparent;
    border-radius: 50px;
    outline: 0;
    color: var(--color-white);
    padding: 0.9375rem 1.25rem;
    position: relative;
}

.command-link input::placeholder {
    color: var(--color-paragraph);
}

.command-search button {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background: transparent;
    border: none;
}

.bx-search {
    font-size: 1.5625rem;
    color: var(--color-paragraph);
    transition: color 300ms linear;
}

.command-container {
    margin-top: 2.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.command-item {
    width: 100%;
}

summary .details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


summary .details .name {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
    font-weight: 500;
}

summary .details .name .cmdTag {
    font-size: 14px;
    background: #008000;
    padding: 5px 8px;
    border-radius: 8px;
}

summary .details .desc {
    font-size: .875rem;
    font-weight: 400;
}

.command-item summary .expand-icon {
    color: #949494;
    transition: transform 300ms;
}

.command-item summary .expand-icon.icon {
    transform: rotate(180deg);
}

.command-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 1.875rem 1.25rem;
    font-size: .8125rem;
    max-height: 450px;
    overflow: hidden;
    transition: max-height 300ms ease;
}

.command-content .bot,
.command-content .user {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.command-content p {
    font-weight: 400;
}

/* PAGE STATUS */
.status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 2rem;
    max-width: 850px;
    width: 100%;
    background: var(--box-color);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
}

.circle::after {
    content: '';
    width: 35px;
    height: 35px;
    position: absolute;
    animation: pulseBig 2s infinite;
    opacity: 1;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.circle.online,
.circle.online::after {
    background: #23A55A;
}

.circle.medium,
.circle.medium::after {
    background: #FFAB00;
}

.circle.offline,
.circle.offline::after {
    background: #ED4344;
}

.status-content {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    color: var(--color-paragraph);
    padding: 0 1.875rem 2.1875rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@keyframes pulseBig {
    0% {
        opacity: 0.5;
    }

    70% {
        opacity: 0;
        transform: scale(1.6);
    }

    100% {
        opacity: 0;
    }
}

.status-header h4 {
    font-size: 1.125rem;
    font-weight: 500;
}

.status-item,
.status-box {
    background: var(--box-color);
    width: 850px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
    margin-top: 2.8125rem;
    border-radius: 10px;
}

.status-item .faq-title,
.status-box .faq-title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.status-item .faq-title .expand-icon {
    color: #949494;
    font-size: 20px;
}

.badge-status {
    font-size: .875rem;
    padding: .3125rem;
    text-align: center;
    font-weight: 600;
    max-width: 140px;
    width: 100%;
    text-transform: uppercase;
    background: #363636;
    border-radius: 5px;
}

.shards-container {
    margin-top: 1.5625rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    position: relative;
}

.shard-box {
    position: relative;
    display: inline-block;
}

.shard-name {
    position: relative;
    color: var(--color-white);
    font-weight: 600;
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 300ms ease;
    border-radius: 5px;
}

.shard-name.online,
.shard-name.online::before {
    background: #23A55A;
}

.shard-name.offline,
.shard-name.offline::before {
    background: #A52338;
}

.shard-name:hover {
    opacity: 0.8;
}

.shard-name::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #23A55A;
    border-radius: 5px;
    transform: rotate(-45deg);
    z-index: -1;
}

.shard-info {
    position: absolute;
    top: -15px;
    left: 85px;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    gap: 3px;
    background: rgba(0, 0, 0, 0.75);
    padding: .5rem .9375rem .5rem;
    z-index: 2;
}

.shard-info div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .875rem;
}

.shard-info div span {
    color: var(--color-white);
    font-weight: 500;
}

.shard-name:hover+.shard-info {
    display: flex;
}

.status-box {
    padding: 1.25rem 1.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}

.status-box .status-name {
    font-size: 1.125rem;
    color: var(--color-white);
    font-weight: 500;
}

/* PAGE BUG */
.bug-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.bug-content .title {
    font-size: 1.5625rem;
}

.bug-content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 1.5625rem;
}

.bug-input {
    color: var(--color-white);
    padding: .875rem 1.25rem;
    max-width: 25rem;
    width: 100%;
    background: transparent;
    outline: 0;
    border: 1px solid #212237;
    border-radius: 50px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.bug-input option {
    background: var(--box-color);
    border: 0;
}

.bug-content form select {
    padding-right: 30px;
    background: url('/public/assets/icons/setinha.png') no-repeat center right;
    background-size: 20px 20px;
    background-position: calc(100% - 20px) center;
}

.bug-content form textarea {
    padding-bottom: 3.75rem;
    border-radius: 20px;
    resize: none;
}

.bug-content button {
    background: var(--main-color);
    padding: .625rem 1.5625rem;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: var(--color-white);
    font-size: 1.125rem;
    font-weight: 500;
    width: fit-content;
    transition: all 300ms ease;
}

.bug-content button:hover {
    background: var(--color-white);
    color: var(--black-color);
}

.wrapper {
    position: fixed;
    bottom: 20px;
    right: 40px;
    animation: show_toast 1s ease forwards;
    z-index: 20;
}

@keyframes show_toast {
    0% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(10%);
    }

    80%,
    100% {
        transform: translateX(20px);
    }
}

.wrapper.hide {
    animation: hide_toast 1s ease forwards;
}

@keyframes hide_toast {
    0% {
        transform: translateX(20px);
    }

    40% {
        transform: translateX(10%);
    }

    80%,
    100% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }
}

.wrapper .toast {
    background: var(--box-color);
    padding: 20px 15px 20px 20px;
    border-radius: 10px;
    border-left: 5px solid #2ECC71;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .toast.error {
    border-color: #CD1E1E;
}

.wrapper .toast.message {
    border-color: var(--main-color);
}

.wrapper .toast.success {
    border-color: #2ECC71;
}

.toast .content {
    display: flex;
    align-items: center;
}

.toast .content .icon {
    font-size: 25px;
    color: #fff;
    aspect-ratio: 1;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background: #2ECC71;
}

.content .icon.error {
    background: #CD1E1E;
}

.content .icon.message {
    background: var(--main-color);
}

.content .details {
    margin-left: 15px;
}

.details span {
    font-size: 1rem;
    font-weight: 500;
}

.details p {
    font-size: .875rem;
    color: #878787;
}

.details a {
    color: var(--main-color);
}

.h6Text {
    padding-top: 10px;
    text-align: justify;
    font-weight: 400;
}

.toast .close-icon {
    color: var(--color-paragraph);
    aspect-ratio: 1;
    font-size: 23px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: var(--box-hover-color);
    transition: all 0.3s ease;
}

.close-icon:hover {
    opacity: 0.6;
}

/* MEDIA QUERIES */
@media (max-width: 1335px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .bug-container img {
        width: 500px;
    }
}

@media (max-width: 1100px) {
    .bug-container img {
        width: 400px;
    }
}

@media (max-width: 900px) {
    .profile .details {
        display: none;
    }

    .security-container img {
        width: 21.875rem;
    }

    .system-box p {
        font-size: .8125rem;
    }

    .security-container {
        gap: 40px;
    }

    .status-header {
        max-width: none;
        width: 100%;
    }

    .status-content,
    .status-box,
    .status-item {
        width: 100%;
    }

    .shards-container {
        justify-content: center;
    }

    .bug-container {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .home {
        flex-direction: column;
        padding-bottom: 60px;
    }

    .home-content {
        text-align: center;
    }


    .invite-container {
        flex-direction: column;
        gap: 50px;
    }

    .statics {
        grid-template-columns: repeat(3, 110px);
    }

    .system-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .system-box {
        width: unset;
    }

    .system-box p {
        font-size: .9375rem;
    }

    .security-container {
        flex-direction: column;
        align-items: start;
    }

    .system-heading {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .staff-header {
        flex-direction: column;
    }

    .staff-header .staffImg {
        width: 300px;
        height: 300px;
    }

    .staff-header .content .title {
        text-align: center;
    }

    .staff-header .summary {
        grid-template-columns: repeat(1, auto);

    }

    .admin-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 85px;
    }

    .admin-box,
    .staff-box {
        flex-direction: column;
    }

    .staff-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 760px) {
    .navbar {
        gap: 8px;
    }
}

@media (max-width: 900px) {
    .menu-icon {
        display: block !important;
        z-index: 40;
        background: none;
        border: none;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background: var(--box-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10%;
        transition: 0.7s all cubic-bezier(0.075, 0.82, 0.165, 1);
        z-index: 30;
        gap: 15px;
    }

    .navbar.open-menu {
        position: fixed;
        right: 0;
        border-radius: 5%;
        transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
        padding-bottom: 1%;
    }

    .sub-profile-wrapper {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: 16.25rem;
    }

    .status-header {
        flex-direction: column;
        text-align: center;
    }

    .wrapper {
        position: fixed;
        top: 25px;
        bottom: 0;
    }

    .wrapper .toast {
        width: 350px;
    }
}

@media (max-width: 600px) {


    .command-link {
        width: 140px;
    }

    .profile .bx {
        display: none;
    }

    .statics {
        grid-template-columns: repeat(2, 110px);
        justify-content: center;
    }

    .system-container {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    footer .copyright {
        font-size: 14px;
    }

}

@media (max-width: 500px) {

    .status-box,
    .status-item summary,
    .status-header {
        flex-direction: column;
        gap: 25px;
    }

    .status-header {
        text-align: center;
    }

    .partner-box {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .security-container img {
        display: none;
    }

    .faq-title {
        font-size: 1rem;
    }

    footer .copyright {
        text-align: center;
    }
}

.shine {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    mask-size: 200%;
    animation: txt 2s linear infinite;
}

@keyframes txt {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.daily-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: none;
}

.daily-container {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
}

/* PAGE PARTNER */
.partner .title {
    font-size: 25px;
}

.partner-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.partner-box {
    width: 750px;
    padding: 25px 30px;
    background: var(--box-color);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    gap: 20px;
}

.partner-box img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

.partner-heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.partner-heading h6 {
    font-size: 1rem;
}

.partner-heading .bx {
    font-size: 20px;
    color: var(--main-color);
}

.partner-box p {
    color: #DADADA;
    font-size: 14px;
    margin-top: 5px;
}

/* from MDN - https://developer.mozilla.org/ */
.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px) !important;
    border: 0 !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

/* Loading Circle */
.loader-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px groove #11aafe;
    border-top-color: #eaf6ff;
    animation: loader-circle 1s linear infinite;
}

@keyframes loader-circle {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}